:root{
    --bg-color: #000000;
    --text-color: rgb(255, 255, 255);
  }
  
  [data-theme="dark"] {
    --bg-color: #ffffff;
    --text-color: rgb(0, 0, 0);
  }
  
  .div{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.5s ease, color 0.5s ease;
  }
  .btn2 {
    cursor: pointer;
    background: var(--text-color);
    color: var(--bg-color);
    border: none;
    border-radius: 8px;
  }